body{
    border: 100%;
}
#criar-tarefa{
    width: 80px;
    height: 20px;
    font-weight: bold;
    background-color: blue;
    border: 2px solid black;
}
#criar-tarefa:active{
    color: white;
    border: 2px solid red;
}
.completed{
    text-decoration: line-through solid black;
}
